.deck-import-drawer {
    .ant-drawer-body {
        padding: var(--spacing-lg);
        padding-top: 0;
        overflow-y: scroll;
        .ant-tabs-nav {
            margin-bottom: var(--spacing);
        }
        .ant-tabs-tab {
            padding: var(--spacing) 0;
        }
        .ant-tabs-content-holder {
            border-top: var(--bd-faint);
            padding-top: var(--spacing);
        }
    }
}