.deck-import-drawer {
    .ant-drawer-body {
        background-color: var(--dim);
        padding: var(--spacing-lg);
        padding-top: 0;
        .ant-tabs-content-holder {
            border-top: var(--bd-faint);
            padding-top: var(--spacing);
        }
    }
}