.ygo-card.ygo-movable-card {
    position: absolute;
    transform: none !important;
    box-shadow: 0 0 1px 1px var(--main-primaryLighter);
    .moveable-control-box {
        visibility: hidden!important;
    }
    &.card-is-dragging {
        opacity: 0.85;
        .moveable-control-box {
            visibility: visible!important;
        }
    }
    &.card-is-zoned {
        box-shadow: 0 0 0 2px deepskyblue;
        border-radius: 3px;
    }
    &:hover {
        box-shadow: 0 0 1px 1px var(--main-antd);
    }
}
