.ygo-card.ygo-movable-card {
    position: absolute;
    transform: none !important;
    .moveable-control-box {
        visibility: hidden!important;
    }
    &.card-is-dragging {
        .moveable-control-box {
            visibility: visible!important;
        }
    }
    &.card-is-zoned {
        box-shadow: 0 0 0 2px deepskyblue;
        border-radius: 3px;
    }
}