:root {
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing: var(--spacing-md);
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;

  --spacing-neg-md: -8px;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.375rem;
  --fs-3xl: 1.5rem;

  --br-sm: 2px;
  --br-antd: 2px;
  --br: 4px;
  --br-lg: 6px;
  --br-max: 9999px;

  --color-ghost: rgba(0, 0, 0, 0.25);
  --color-extraFaint: rgba(40, 40, 40, 0.65);
  --color-faint: rgba(40, 40, 40, 0.85);
  --color-subtle: rgba(40, 40, 40, 1);
  --color-contrast: #fff;
  --color: rgba(0, 0, 0, 0.85);

  --main-contrast: #fff;

  --main-primaryDarker: #000;
  --main-primary: #111;
  --main-primaryLighter: #222;

  --main-secondaryDarker: #1a1a1a;
  --main-secondary: #2a2a2a;
  --contrast-secondary: #fff;
  --main-secondaryLighter: #3a3a3a;
  --contrast-secondaryLighter: #fff;

  --main-disabled: #d9d9d9;
  --sub-disabled: #f5f5f5;

  --dim-metal: #223;
  --main-metal: #334;
  --sub-metal: #445;
  --contrast-metal: #fff;

  --main-danger: #f22;
  --sub-danger: #f44;
  --contrast-danger: #fff;

  --main-info: #2bd;
  --sub-info: #2cf;
  --contrast-info: #fff;

  --main-antd: #1890ff;
  --sub-antd: #40a9ff;
  --contrast-antd: #fff;

  --sub-your-color: #b3ceff;
  --main-your-color: #005aff;
  --contrast-your-color: #ffffff;
  --sub-opp-color: #ffbdbd;
  --main-opp-color: #ff2222;
  --contrast-opp-color: #ffffff;
  --sub-neutral-color: #9add9a;
  --main-neutral-color: #22aa22;
  --contrast-neutral-color: #ffffff;

  --white: #fff;
  --dim: #efefef;

  --gradient-hovered: #edededee;
  --gradient-hovered-light: linear-gradient(45deg,rgba(29,33,41,0.09),rgba(29,33,41,0.09));;

  --bs-inset: 0 0 2px 0 #333 inset;

  --bdSize: 1px;

  --bdColor-contrast: #ffffff;
  --bd-contrast: var(--bdSize) solid var(--bdColor-contrast);
  --bdColor-blunt: #555555;
  --bd-blunt: var(--bdSize) solid var(--bdColor-blunt);
  --bdColor-antd: #d9d9d9;
  --bd-antd: var(--bdSize) solid var(--bdColor-antd);
  --bdColor: #8a8a8a;
  --bd: var(--bdSize) solid var(--bdColor);
  --bdColor-faint: #c8c8c8;
  --bd-faint: var(--bdSize) solid var(--bdColor-faint);
  --bd-contrast: var(--bdSize) solid var(--main-contrast);

  --bs-large: 0 2px 4px -3px #0000001f, 0 4px 11px #00000014, 0 6px 21px 6px #0000000d;

  --deck-button-simple-width: 2.5rem;
  --deck-button-simple-height: 2.5rem;

  --card-width-lg: 549px;
  --card-height-lg: 800px;
  --card-width-md: 275px;
  --card-height-md: 400px;
  --card-width-sm: 86px;
  --card-height-sm: 125px;
  .ygo-card-size-lg {
    --card-width: var(--card-width-lg);
    --card-height: var(--card-height-lg);
  }
  .ygo-card-size-md {
    --card-width: var(--card-width-md);
    --card-height: var(--card-height-md);
  }
  .ygo-card-size-sm {
    --card-width: var(--card-width-sm);
    --card-height: var(--card-height-sm);
  }
  input {
    &:focus {
      outline: none;
    }
  }
  h2 {
    font-size: var(--fs-lg);
    line-height: 1.5;
    padding-top: var(--spacing-xs);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    user-select: none;
  }
  .allow-event {
    pointer-events: all;
  }
}

html, #root {
  overflow: hidden;
}
.app-wrapper {
  display: flex;
  min-height: 100vh;
  position: relative;
  .card-preview {
    flex: 0 0 auto;
    width: 30%;
    min-height: 100vh;
    height: 100vh;
  }
  .board-container {
    flex: 0;
  }
}

.padding {
  flex: 1;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** Animation **/
@keyframes fade-cycle {
    0% {
        opacity: 0.45;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.45;
    }
}

/** Hạn chế hành vi double click select text vì app vận hành bằng chuột rất nhiều **/
.ant-tooltip-inner {
  user-select: none;
}

/** Global antd styling **/
.ant-drawer-header {
  padding: var(--spacing) var(--spacing-lg);
  .ant-drawer-close {
      padding: 0;
  }
}
.ant-drawer-body {
  background-color: var(--dim);
}

.ant-modal-header {
  padding: var(--spacing) var(--spacing-lg);
  position: relative;
}
.ant-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 39px; // Bằng với ant-modal-header
  display: flex;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-xl);
  .ant-modal-close-x {
    height: unset;
    width: unset;
    line-height: 1;
  }
  &:hover {
    background-color: var(--sub-danger);
    color: var(--contrast-danger);
  }
}