:root {
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing: var(--spacing-md);
  --spacing-lg: 12px;

  --fs-lg: 1.25rem;

  --br-sm: 2px;
  --br: 4px;

  --main-contrast: #fff;

  --main-primaryDarker: #000;
  --main-primary: #111;
  --main-primaryLighter: #222;

  --main-secondaryDarker: #1a1a1a;
  --main-secondary: #2a2a2a;
  --main-secondaryLighter: #3a3a3a;

  --dim-metal: #223;
  --main-metal: #334;
  --sub-metal: #445;

  --main-danger: #f22;
  --sub-danger: #f44;

  --bdSize: 1px;

  --bdColor: #8a8a8a;
  --bd: var(--bdSize) solid var(--bdColor);
  --bd-contrast: var(--bdSize) solid var(--main-contrast);

  --card-width-lg: 549px;
  --card-height-lg: 800px;
  --card-width-md: 275px;
  --card-height-md: 400px;
  --card-width-sm: 86px;
  --card-height-sm: 125px;
  .ygo-card-size-lg {
    --card-width: var(--card-width-lg);
    --card-height: var(--card-height-lg);
  }
  .ygo-card-size-md {
    --card-width: var(--card-width-md);
    --card-height: var(--card-height-md);
  }
  .ygo-card-size-sm {
    --card-width: var(--card-width-sm);
    --card-height: var(--card-height-sm);
  }
  h2 {
    font-size: var(--fs-lg);
    line-height: 1.5;
    padding-top: var(--spacing-xs);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-wrapper {
  display: flex;
}

.padding {
  flex: 1;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}