.deck-modal-invisible {
    visibility: hidden;
    .moveable-control-box {
        visibility: hidden!important;
    }
    .deck-beacon {
        visibility: hidden;
    }
    .deck-tool-bar button {
        display: none;
    }
}
.deck-modal-visible {
    visibility: visible;
}