.deck-beacon {
    border: 2px solid transparent;
    border-radius: 2px;
    display: flex;
    visibility: hidden;
    border-color: #a1a1a183;
    background: #c1c1c183;
    font-weight: bold;
    text-shadow: 0 0 4px black;
    align-items: center;
    justify-content: center;
    user-select: none;
    &.ready-to-drop {
        border-color: transparent;
        background: #e1e1e1ff;
        color: #ffffff;
    }
    &.available-to-drop {
        visibility: visible;
    }
    &:hover {
        border-color: transparent;
        background: #e1e1e1ff;
        color: #ffffff;
        visibility: visible;
    }
}