.deck-modal-invisible {
    visibility: hidden;
    .moveable-control-box {
        visibility: hidden!important;
    }
    .deck-tool-bar button {
        display: none;
    }
}
.deck-modal-visible {
    visibility: visible;
}
.app-wrapper-is-dragging {
    .deck-button {
        .deck-back-beacon-active {
            .deck-beacon {
                visibility: visible;
            }
        }
    }
}